.f1{
    background-color: #0083a394;

}
.f2{ 
background-color:hsl(0, 36%, 96%);
}
.f3{
    background-color: hsl(0, 100%, 95%);
}
.f4{
    background-color: hsl(0, 100%, 94%);
}
.f5{
    background-color: hsl(0, 100%, 93%);   
}
.f6{
    background-color: hsl(0, 100%, 92%);   
}
.f7{
    background-color: hsl(0, 100%, 91%);   
}
.f8{
    background-color: hsl(0, 100%, 90%);   
}
.f9{
    background-color: hsl(0, 100%, 89%);   
}
.f10{
    background-color: hsl(0, 100%, 88%);   
}
.f11{
    background-color: hsl(0, 100%, 87%);   
}
.f12{
    background-color: hsl(0, 100%, 86%);
}   
.f13{
    background-color: hsl(0, 100%, 85%);   
}
.f14{
    background-color: hsl(0, 100%, 84%);   
}  
.f15{
    background-color: hsl(0, 100%, 83%);   
}
.f16{
    background-color: hsl(0, 100%, 82%);   
}
.f17{
    background-color: hsl(0, 100%, 81%);   
}
.f18{
    background-color: hsl(0, 100%, 80%);   
}
.f19{
    background-color: hsl(0, 100%, 79%);   
}
.f20{
    background-color: hsl(0, 100%, 78%);   
}
.f21{
    background-color: hsl(0, 100%, 77%);   
}
.f22{
    background-color: hsl(0, 100%, 76%);   
}
.f23{
    background-color: hsl(0, 100%, 75%);   
}
.f24{
    background-color: hsl(0, 100%, 74%);   
}
.f25{
    background-color: hsl(0, 100%, 73%);   
}
.f26{
    background-color: hsl(0, 100%, 72%);   
}
.f27{
    background-color: hsl(0, 100%, 71%);   
}
.f28{
    background-color: hsl(0, 100%, 70%);   
}
.f29{
    background-color: hsl(0, 100%, 69%);   
}
.f30{
    background-color: hsl(0, 100%, 68%);   
}
.f31{
    background-color: hsl(0, 100%, 67%);   
}
.f32{
    background-color: hsl(0, 100%, 66%);   
}
.f33{
    background-color: hsl(0, 100%, 65%);   
}
.f34{
    background-color: hsl(0, 100%, 64%);   
}
.f35{
    background-color: hsl(0, 100%, 63%);   
}
.f36{
    background-color: hsl(0, 100%, 62%);   
}
.f37{
    background-color: hsl(0, 100%, 61%);   
}
.f38{
    background-color: hsl(0, 100%, 60%);   
}
.f39{
    background-color: hsl(0, 100%, 59%);   
}
.f40{
    background-color: hsl(0, 100%, 58%);   
}
.f41{
    background-color: hsl(0, 100%, 57%);   
}
.f42{
    background-color: hsl(0, 100%, 56%);   
}

.f43{
    background-color: hsl(0, 100%, 55%);   
}
.f44{
    background-color: hsl(0, 100%, 54%);   
}
.f45{
    background-color: hsl(0, 100%, 53%);   
}
.f46{
    background-color: hsl(0, 100%, 52%);   
}
.f47{
    background-color: hsl(0, 100%, 51%);   
}
.f48{
    background-color: hsl(0, 100%, 50%);   
}
.f49{
    background-color: hsl(0, 100%, 49%);   
}
.f50{
    background-color: hsl(0, 100%, 48%);   
}
.f51{
    background-color: hsl(0, 100%, 47%);   
}
.a1{ background-color: #85ffe5; width: 350px; height: 40px;
    position: absolute; top: 0px; right: 500px;
    border-radius: 5px;
    border-style: solid; 
    border-width: 2px;
    box-shadow:  1px 5px 5px rgb(15, 11, 11);

}
.a2{
    line-height:20px;
}






